_build/
_coverage/
.merlin
*.rst~
*.install
bisect*.out
bisect*.coverage
fuzz-*-input
fuzz-*-output
fuzz-logs/
fuzz/core.*
*.tar.gz
test.json
/*.json
/examples/stramon-latest.json
/*.json.debug
/*.json.raw
./statically-linked/
